<div class="login-page" ng-controller="loginController">
  <div class="form">
    <img src="assets/images/gov.gif">
    <form method="Post" id="myLogin" class="login-form">
      <input type="text" name="username" id="username" placeholder="username" ng-model="username"/>
      <input type="password" name="password" id="password" placeholder="password" ng-model="password"/>
      <button type="button" ng-click="submit()">login</button>
      <p class="message">Lock Your Lips? <a href="#">Don't share your password</a></p>
    </form>
  </div>
</div>